In [11]:
spam = "test_spam"

def do_local():
    spam = "local_spam"

do_local()
print(spam)

def do_global():
    global spam
    spam = "global_spam"

do_global()
print(spam)

test_spam
global_spam

In [12]:
class GlobalSpam:
    g_spam = ""

gs = GlobalSpam()

def substitute1():
    gs.g_spam = "global spam test"

def print1():
    print(gs.g_spam)

In [13]:
global g_dict
g_dict = {}

def substitute1():
    g_dict["A"] = "001"
    g_dict["B"] = "002"

def substitute2():
    g_dict["C"] = "003"

if __name__ == "__main__":
    substitute1()
    substitute2()
    print(g_dict)

{'A': '001', 'B': '002', 'C': '003'}

In [1]:
import sqlite3

DATABASE = "./database/database.db"

sql = """
    DELETE FROM TTemporary_staffing;
    DELETE FROM sqlite_sequence WHERE name = 'TTemporary_staffing';"""

conn = sqlite3.connect(DATABASE)
cur = conn.cursor()
cur.executescript(sql)
conn.commit()

In [8]:
import sqlite3

DATABASE = "./database/database.db"
DEPARTMENT = "03"
VENDORNAME = "エコー"
HUMANNAME = "%"

sql = f"""
    SELECT b.部門, a.* FROM MHuman_resources as a
    LEFT JOIN MVendor as b on a.業者コード = b.コード
    WHERE b.部門 = '{DEPARTMENT}' AND b.名称 like '%{VENDORNAME}%'
    AND a.名称 like '%{HUMANNAME}%';"""

conn = sqlite3.connect(DATABASE)
cur = conn.cursor()
cur.execute(sql)
result = cur.fetchall()

for rec in result:
    print(rec)

('03', 173, '2', '―', '―', 'ロッテＥＣ加工分', '1430')

In [7]:
import sqlite3

DATABASE = "./database/database.db"
CODE = "173"
UNITPRICE = 1430

sql = f"""
    UPDATE MHuman_resources SET 基本単価 = {UNITPRICE}
    WHERE コード = '{CODE}';"""

conn = sqlite3.connect(DATABASE)
cur = conn.cursor()
cur.execute(sql)
conn.commit()

In [2]:
import sqlite3

DATABASE = "./database/database.db"

conn = sqlite3.connect(DATABASE)
cur = conn.cursor()
cur.execute("SELECT * FROM TTemporary_staffing WHERE 請求年 = 2023 AND 請求月 = 9;")
result = cur.fetchall()
array = []
for element in result:
    array.append(list(element))
print(array)

[[1492, 2023, 9, '12', 28, 359, 48.0, '', ''], [1493, 2023, 9, '12', 28, 360, 205.0, '', ''], [1494, 2023, 9, '12', 28, 786, 112.75, '', ''], [1495, 2023, 9, '12', 29, 361, 0.0, '162181', ''], [1496, 2023, 9, '12', 29, 362, 0.0, '165654', ''], [1497, 2023, 9, '12', 29, 363, 0.0, '173923', ''], [1498, 2023, 9, '12', 29, 364, 0.0, '174', ''], [1499, 2023, 9, '12', 29, 365, 0.0, '4418', ''], [1500, 2023, 9, '12', 29, 367, 0.0, '360000円', '']]